/* Global */
:root {
 --color-white: #ffffff;
 --color-light-white: #f1f1f1;
 --color-beige: #f4efe7;
 --color-light-gray: #cacaca;
 --color-black: #000;
 --color-cocoa: #8b7777;

 /* Font size */
 --font-large: 30px;
 --font-medium: 19px;
 --font-regular: 16px;
 --font-small: 14px;
 --font-micro: 12px;

 /* /* Font family*/
 --font-h1: "Karla", sans-serif;
 --font-h2: "Noto Sans JP", sans-serif;
 --font-h3-p: "Source Sans Pro", sans-serif;

 /* Font weight */
 --weight-bold: 700;
 --weight-semi-bold: 600;
 --weight-regular: 400;

 /* Size */
 --size-border-radius: 4px;

 /* Animation */
 --animation-duration: 300ms;
}

/* Universal tags  */
* {
 box-sizing: border-box;
}

body {
 margin: 0;
}

a {
 text-decoration: none;
 color: inherit;
}

button {
 background-color: transparent;
 cursor: pointer;
 border: none;
 outline: none;
}

/* Typography */
h1 {
 font-size: var(--font-large);
 font-weight: var(--weight-bold);
 font-family: var(--font-h1);
 margin: 16px 0;
}

h2 {
 font-size: var(--font-medium);
 font-weight: var(--weight-semi-bold);
 font-family: var(--font-h2);
 margin: 8px 0;
}

h3 {
 font-size: var(--font-regular);
 font-weight: var(--font-regular);
 font-family: var(--font-h3-p);
 margin: 8px 0;
}

p {
 font-size: var(--font-small);
 font-weight: var(--font-regular);
 font-family: var(--font-h3-p);
 margin: 4px 0;
}

/* Navbar */

#navbar {
 background-color: var(--color-black);
 font-family: var(--font-h3-p);
 width: 100%;
 height: 150px;
}

.navbar__toggle-btn {
 display: block;
 padding: 10px;
 top: 20px;
 right: 10px;
 color: var(--color-beige);
 font-size: var(--font-regular);
 position: absolute;
}
.navbar__menu.open {
 display: block;
}

.top__nav__1 {
 padding: 16px 20px;
 color: var(--color-beige);
 font-family: var(--font-h3-p);
 text-align: center;
 width: 100%;
 display: none;
}

.top__nav__2 {
 text-align: center;
 color: var(--color-light-white);
 padding: 10px 0;
}

/* About main*/

#about {
 background-color: var(--color-beige);
 width: 100%;
 text-align: center;
}

.about__main {
 padding: 20px 0;
 text-align: center;
 background-color: var(--color-cocoa);
}

.about__description {
 text-align: center;
 padding: 30px 20px;
}

.about__main__name {
 margin-top: 50px;
 margin-bottom: 20px;
 font-weight: var(--weight-semi-bold);
}

.about__wine__01 {
 display: block;
 width: 80%;
 margin: 0px auto;
 padding: 10px 20px;
}

.about__majors__01 p {
 text-align: center;
 padding: 25px;
 margin: 0;
}

.about__wine__02 {
 display: block;
 width: 80%;
 margin: 0px auto;
 padding: 10px 20px;
}

.about__majors__02 p {
 text-align: center;
 padding: 25px;
 margin: 0;
}

#bottom__nav {
 background: url("images/bottom-nav.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: space-between;
 text-align: center;
 width: 100%;
 height: 150px;
 padding: 15px;
 color: var(--color-beige);
}

#footer {
 background-color: var(--color-cocoa);
 text-align: center;
 color: var(--color-beige);
}

#footer p {
 margin: 0;
 padding: 20px 15px;
}

.contact__link {
 font-size: var(--font-medium);
}

.contact__link a {
 margin: 0 15px;
}

@media screen and (min-width: 768px) {
 :root {
  /* Font size */
  --font-large: 50px;
  --font-medium: 25px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
 }
}
