/* About bistro*/

#about__bistro {
 background-color: var(--color-beige);
 width: 100%;
 text-align: center;
}

.about__bistro {
 padding: 10px 0;
 position: relative;
 top: 40px;
 text-align: center;
 align-items: center;
 background-color: var(--color-cocoa);
}

.about__bistro__description {
 text-align: center;
 margin-top: 20px;
 padding: 50px 30px;
}

.about__bistro__name h2 {
 margin-top: 50px;
 margin-bottom: 20px;
 font-weight: var(--weight-semi-bold);
}

.about__bistro__name p {
 padding: 0px 20px 15px 20px;
}

.about__bistro__container {
 display: flex;
 flex-direction: column;
 width: 90%;
 text-align: center;
 margin: 0px auto;
}

.about__bistro__container p {
 margin: 20px 0;
}

.bistro__container__second {
 display: flex;
 flex-direction: column;
 width: 90%;
 text-align: center;
 margin: 0 auto;
}

.bistro__container__second img {
 padding: 20px;
}

@media screen and (min-width: 759px) {
 :root {
  /* Font size */
  --font-large: 50px;
  --font-medium: 25px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
 }

 .about__bistro {
  padding: 10px 0;
  position: relative;
  top: 60px;
 }

 .about__bistro__description {
  text-align: center;
  margin-top: 40px;
  padding: 50px 30px;
 }

 .bistro__container__second img {
  padding: 50px 25px;
 }
}

@media screen and (min-width: 979px) {
 :root {
  /* Font size */
  --font-large: 50px;
  --font-medium: 25px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
 }

 .about__bistro {
  padding: 30px 0;
  position: relative;
  top: 130px;
 }

 .about__bistro__description {
  text-align: center;
  margin-top: 120px;
  padding: 60px 50px;
 }
}

@media screen and (min-width: 1200px) {
 :root {
  /* Font size */
  --font-large: 50px;
  --font-medium: 25px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
 }

 .about__bistro {
  padding: 30px 0;
  position: relative;
  top: 200px;
 }

 .about__bistro__description {
  text-align: center;
  margin-top: 180px;
  padding: 60px 300px;
 }

 .bistro__container__second {
  display: flex;
  flex-direction: row;
  width: 90%;
  text-align: center;
  margin: 0 auto;
 }
}
