//About main

#about {
 background-color: var(--color-beige);
 width: 100%;
 text-align: center;
}

.about__main {
 padding: 20px 0;
 text-align: center;
 background-color: var(--color-cocoa);
}

.about__description {
 text-align: center;
 padding: 30px 30px;
}

.about__main__name {
 margin-top: 50px;
 margin-bottom: 20px;
 font-weight: var(--weight-semi-bold);
}

.about__container {
 display: flex;
 flex-direction: column;
 width: 90%;
 text-align: center;
 margin: 0px auto;
}

.about__wine__01 {
 padding: 10px 20px;
}

.about__majors__01 {
 text-align: center;
 padding: 25px;
 margin: 0;
}

.about__wine__02 {
 padding: 10px 20px;
}

.about__majors__02 {
 text-align: center;
 padding: 25px;
 margin: 0;
}

@media screen and (min-width: 768px) {
 :root {
  /* Font size */
  --font-large: 50px;
  --font-medium: 25px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
 }

 .about__description {
  padding: 40px 40px;
 }

 .about__main__name {
  text-align: left;
  margin-left: 115px;
 }
 .about__container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.2fr;
 }
 .about__wine__01 {
  width: 100%;
  padding: 25px;
  margin: 0;
  grid-row: 1/3;
 }

 .about__majors__01 {
  align-self: center;
  padding: 25px 100px;
 }

 .about__wine__02 {
  width: 100%;
  padding: 25px;
  margin: 0;
  grid-row: 2/4;
 }

 .about__majors__02 {
  grid-row: 3/4;
  align-self: flex-end;
  padding: 25px 100px;
 }
}
