// Wrapper style


/* use common each page wrapper start : wrapper.scss*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
/* use common each page wrapper end : wrapper.scss*/
@media (min-width: 570px) {
  
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
}



